<section class="h-75  d-flex align-items-center justify-content-center">
    <div class="form-container p-5 w-75 position-relative">
        <h1 class="fs-4 bg-main w-50 text-center text-white py-2 rounded-4 position-absolute form-title">انشاء حساب جديد</h1>
        <form>
            <div class="row ">
                <div class="col-md-6">
                    <input type="text" placeholder="الايميل" class="form-control">
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="الاسم" class="form-control">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <input type="text" placeholder="تاكيد كلمه المرور" class="form-control">
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="كلمه المرور" class="form-control">
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-between mt-4">
            <button mat-raised-button color="primary">انشاء حساب</button>
            <a routerLink="login" mat-button color="primary" class="fs-6 text-decoration-none"> املك حساب بالفعل</a>
        </div>
    </div>
</section>
<mat-divider></mat-divider>