<nav
    class="navbar navbar-expand-sm navbar-dark bg-main p-3">
    <div class="container">
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link fs-5" routerLink="register">تسجيل</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link fs-5" routerLink="login">دخول</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link fs-5" routerLink="">خروج</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link fs-5"routerLink="">المواد</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link fs-5"routerLink="">الطلاب</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link fs-5"routerLink="">اختبار جديد</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand fs-1 fw-medium" href="#">فاينال  <i class="fa-solid fa-graduation-cap"></i></a>
    </div>
</nav>
