@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
/* You can add global styles to this file, and also import other style files */
:root {
    --main-color:#673AB7;
}
html, body { height: 100%;
}
body { margin: 0;  font-family: "Almarai", sans-serif; }
.bg-main {
    background-color: var(--main-color);
}
